<div class="boxes">

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="boxes__item small {{post_class}}">
    <header class="author">
        <table>
            <tr>
                {{#if author.image}}<td width="5%"><img src="{{author.image}}" class="author__image round-img"></td>{{/if}}
                <td><span class="author__name"><a href="/author/{{author.slug}}">{{author.name}}</a></span><br>
                <time datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}}</time> &middot; {{#read_time}}{{content}}{{/read_time}} read{{#if tags}}<br>
                <span class="tags">{{{tags separator=""}}}</span>
                {{/if}}</td>
            </tr>
        </table>
    </header>
    <a href="{{url}}" style="display:block; text-decoration:none">
        {{#to_first_paragraph}}

            {{#convert_images}}
                {{content}}
            {{/convert_images}}
        {{/to_first_paragraph}}
    </a>
    <p><a href="{{url}}">Read more...</a></p>
</article>
{{/foreach}}

{{pagination}}

</div>
