{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<script>
window.postId = '{{uuid}}';
window.authorName = '{{author.name}}';
</script>

<main role="main">
    <article class="{{post_class}}">

        <header class="author center small">
            <table>
              <tr>
                {{#if author.image}}<td width="5%"><img src="{{author.image}}" class="author__image round-img"></td>{{/if}}
                <td>
                  <span class="author__name"><a href="/author/{{author.slug}}">{{author.name}}</a></span><br>
                  <time datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}}</time> &middot; {{#read_time}}{{content}}{{/read_time}} read
                </td>
              </tr>
            </table>
        </header>

        <section class="content">
            {{#convert_images}}
                {{content}}
            {{/convert_images}}
        </section>

        <footer>

            {{#if tags}}
            <section class="tags center margin-top-large">
                <p>{{{tags separator=""}}}</p>
            </section>
            {{/if}}

            <section class="share clearfix center">
                <p>
                    <a href="#" class="share__like">
                        <img data-src="{{asset "/images/heart.svg"}}" class="post-footer__like-icon lazy-image"> <span class="share__likes"></span>
                    </a><a href="#responses">
                        <img data-src="{{asset "/images/comment.svg"}}" class="lazy-image"> <span class="share__responses"></span>
                    </a><a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="right">
                        <img data-src="{{asset "/images/twitter.svg"}}" class="lazy-image">
                    </a><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="right">
                        <img data-src="{{asset "/images/facebook.svg"}}" class="lazy-image">
                    </a>
                </p>
            </section>

            <hr class="center">

            <section class="author author--top center small">
                <table>
                  <tr>
                    {{#if author.image}}<td width="5%">
                      <img data-src="{{author.image}}" class="author__image lazy-image img-bg round-img">
                    </td>{{/if}}
                    <td>
                      <span class="author__name"><a href="/author/{{author.slug}}">{{author.name}}</a></span><br>
                      {{#if author.bio}}{{author.bio}}<br>{{/if}}
                      <br>
                      <a href="/author/{{author.slug}}" class="btn btn--cta">More articles</a>{{#if author.website}}<a href="{{author.website}}" target="_blank" class="btn margin-left">Website</a>{{/if}}
                    </td>
                  </tr>
                </table>
            </section>

            <section class="boxes responses" id="responses">
                <h3 class="boxes__item boxes__item--transparent">Responses</h3>
                <div class="responses__list"></div>
                <div class="responses__form boxes__item" id="write-response">
                    <h3>Write a response</h3>
                    <p class="validate hide-logged-in" data-validate-required><input type="text" name="name" placeholder="Name"></p>
                    <p class="validate hide-logged-in" data-validate-required data-validate-email><input type="e-mail" name="email" placeholder="E-mail"></p>
                    <p class="validate hide-logged-in" data-validate-url><input type="text" name="website" placeholder="Website (optional)"></p>
                    <p class="validate responses-form__text" data-validate-required><textarea placeholder="Write your response..." rows="5" name="text"></textarea></p>
                    <input type="text" name="image" class="hidden">
                    <p><a href="#" class="btn btn--cta btn--small btn--disabled">Respond</a></p>
                </div>
            </section>
        </footer>

    </article>
</main>

<div class="tool-tip share">
    <a href="#" title="Let the author know, that you liked this" class="share__like">
        <img data-src="{{asset "/images/heart--inverse.svg"}}" class="tool-tip__like-icon lazy-image">
    </a><a href="#write-response" title="Comment on the selected text" class="tool-tip__response">
        <img data-src="{{asset "/images/comment--inverse.svg"}}" class="lazy-image">
    </a><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share this article on facebook">
        <img data-src="{{asset "/images/facebook--inverse.svg"}}" class="lazy-image">
    </a><a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Tweet about the highlighted text" class="tool-tip__twitter" data-title="{{encode title}}" data-url="{{url absolute="true"}}">
        <img data-src="{{asset "/images/twitter--inverse.svg"}}" class="lazy-image">
    </a>
</div>

{{/post}}
