{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<script>
window.postId = '{{uuid}}';
window.authorName = '{{author.name}}';
</script>

<main role="main">
    <article class="{{post_class}}">

        <header class="author center small">
            <table>
              <tr>
                {{#if author.image}}<td width="5%"><img src="{{author.image}}" class="author__image round-img"></td>{{/if}}
                <td>
                  <span class="author__name">Author <a href="/author/{{author.slug}}">{{author.name}}</a></span><br>
                  <time datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}}</time> &middot; {{#read_time}}{{content}}{{/read_time}} read
                </td>
              </tr>
            </table>
        </header>

        <section class="content">
            {{#if image}}
                <div class="img-wrapper full-width">
                    <div class="img-container" style="padding-bottom:50%">
                        <img src="{{image}}" alt="{{title}}">
                    </div>
                </div>
            {{/if}}
            <h1>{{title}}</h1>
            {{#convert_images}}
                {{content}}
            {{/convert_images}}
        </section>

        <footer>

            {{#if tags}}
            <section class="tags center margin-top-large">
                <p>{{{tags separator=""}}}</p>
            </section>
            {{/if}}

            <section class="footer__share-bar share clearfix center">
                <p>
                    <a href="#" class="share__like">
                        <img data-src="{{asset "/images/heart--active.svg"}}" class="post-footer__like-icon lazy-image"> <span class="share__likes"></span>
                    </a>
                    <a href="#responses">
                        <img data-src="{{asset "/images/comment.svg"}}" class="lazy-image"> <span class="share__responses"></span>
                    </a>
                    <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="right">
                        <img data-src="{{asset "/images/twitter.svg"}}" class="lazy-image">
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="right">
                        <img data-src="{{asset "/images/facebook.svg"}}" class="lazy-image">
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'linkedin-share', 'width=850,height=735');return false;" title="Share this story on LinkedIn" class="right">
                        <img data-src="{{asset "/images/linkedin.svg"}}" class="lazy-image">
                    </a>
                </p>
            </section>

            <hr class="center">

            <section class="author author--top center small">
                <table>
                  <tr>
                    {{#if author.image}}<td width="5%">
                      <img data-src="{{author.image}}" class="author__image lazy-image img-bg round-img">
                    </td>{{/if}}
                    <td>
                      <span class="author__name"><a href="/author/{{author.slug}}">{{author.name}}</a></span><br>
                      {{#if author.bio}}{{author.bio}}<br>{{/if}}
                      <br>
                      <a href="/author/{{author.slug}}" class="btn btn--cta">More stories</a>{{#if author.website}}<a href="{{author.website}}" target="_blank" class="btn margin-left">Website</a>{{/if}}
                    </td>
                  </tr>
                </table>
            </section>

            <section class="boxes responses" id="responses">
                <h3 class="boxes__item boxes__item--transparent">Responses</h3>
                <div class="responses__list"></div>
                <div class="responses__form boxes__item" id="write-response">
                    <h3>Write a response</h3>
                    <p class="validate validate--not-valid hide-logged-in" data-validate-required><span class="placeholder animate animate--fast">Name</span><input type="text" name="name"></p>
                    <p class="validate validate--not-valid hide-logged-in" data-validate-required data-validate-email><span class="placeholder animate animate--fast">E-mail</span><input type="email" name="email"></p>
                    <p class="validate validate--valid hide-logged-in" data-validate-url><span class="placeholder animate animate--fast">Website (optional)</span><input type="url" name="website"></p>
                    <p class="validate validate--not-valid responses-form__text" data-validate-required><span class="placeholder animate animate--fast">Write your response...</span><textarea  rows="5" name="text"></textarea></p>
                    <p class="hidden"><input type="text" name="image"></p>
                    <p><a href="#" class="btn btn--cta btn--small btn--disabled">Respond</a></p>
                    <p class="small"><em>Use <a href="#" class="response-form__markdown-expander">Markdown</a> in the response</em></p>
                    <table class="small response-form__markdown-helpers hidden">
                        <tr>
                            <td><strong>Markdown</strong></td>
                            <td><strong>Result</strong></td>
                        </tr>
                        <tr>
                            <td>**text**</td>
                            <td><strong>Bold</strong></td>
                        </tr>
                        <tr>
                            <td>*text*</td>
                            <td><em>Emphasize</em></td>
                        </tr>
                        <tr>
                            <td>~~text~~</td>
                            <td><del>Strike-through</del></td>
                        </tr>
                        <tr>
                            <td>[title](http://)</td>
                            <td><a href="#">Link</a></td>
                        </tr>
                        <tr>
                            <td>`code`</td>
                            <td><code>Inline Code</code></td>
                        </tr>
                        <tr>
                            <td>![alt](http://)</td>
                            <td>Image</td>
                        </tr>
                        <tr>
                            <td>* item</td>
                            <td><ul><li>List</li></ul></td>
                        </tr>
                        <tr>
                            <td>&gt; quote</td>
                            <td><blockquote><p>Blockquote</p></blockquote></td>
                        </tr>
                    </table>
                </div>
            </section>
        </footer>

    </article>
</main>

<div class="tool-tip share">
    <a href="#" title="Let the author know, that you liked this" class="share__like">
        <img data-src="{{asset "/images/heart--inverse.svg"}}" class="tool-tip__like-icon lazy-image">
    </a>
    <a href="#write-response" title="Comment on the selected text" class="tool-tip__response">
        <img data-src="{{asset "/images/comment--inverse.svg"}}" class="lazy-image">
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share this story on facebook">
        <img data-src="{{asset "/images/facebook--inverse.svg"}}" class="lazy-image">
    </a>
    <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Tweet about the highlighted text" class="tool-tip__twitter" data-title="{{encode title}}" data-url="{{url absolute="true"}}">
        <img data-src="{{asset "/images/twitter--inverse.svg"}}" class="lazy-image">
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute="true"}}"
        onclick="window.open(this.href, 'linkedin-share', 'width=850,height=735');return false;" title="Share this story on LinkedIn" class="tool-tip__linkedin">
        <img data-src="{{asset "/images/linkedin.svg"}}" class="lazy-image">
    </a>
</div>

{{/post}}
